<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DICT GAME</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!postLoaded">
  <ion-spinner class="full-load" name="crescent"></ion-spinner>
</ion-content>
<ion-content *ngIf="postLoaded">
  <ion-card>
    <ion-item (click)="showUser(post.user.id)">
      <ion-avatar>
        <img [src]="post.user.profile.image_url" />
      </ion-avatar>
      <ion-item>
        <ion-label>{{post.user.name}}</ion-label>
      </ion-item>
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="post.image_source"></ion-img>
    <ion-card-content>
      <p>{{ post.content }}</p>
    </ion-card-content>
    <!-- heart -->
    <ion-icon
      *ngIf="!postLiked"
      name="heart"
      class="like"
      [ngStyle]="{color: 'gray'}"
      (click)="likePost()"
    ></ion-icon>
    <ion-icon
      *ngIf="postLiked"
      name="heart"
      class="like"
      [ngStyle]="{color: 'red'}"
      (click)="dislikePost()"
    ></ion-icon>
    <ion-label>Likes: {{post.hearts.length}}</ion-label>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let comment of post.comments">
      <ion-avatar slot="start">
        <ion-img [src]="comment.user.profile.image_url"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ comment.user.name }}</h2>
        <p>{{ comment.content }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-textarea
      rows="3"
      placeholder="Escribe un comentario"
      [(ngModel)]="newComment"
    ></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="addComment()"
    >Agregar Comentario</ion-button
  >
</ion-content>
