<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="postsLoaded">
    <ion-item *ngFor="let item of posts">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{item.user.username}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-img
          *ngIf="item.images[0]"
          src="{{item.images[0].source}}"
          alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
        <ion-card-content> {{item.content}} </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-grid class="ion-text-center">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <div (click)="backPage()">
            <ion-icon name="caret-back-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>{{page}}</div>
        </ion-col>
        <ion-col>
          <div (click)="nextPage()">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
